* {
    padding: 0;
    margin: 0;
}
body {
    background: #1C1C1C;;
    font-family: 'Russo One', sans-serif;
    color: #ffffff;
}
canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
.wrapper{
width:1260px;
margin: 0 auto;
box-sizing: border-box;
}

header{
    background: url("img/bg-cube.png") left 700px top 0px/ 47%  no-repeat;
height: 470px;
}
header::after {
    content: "";
    background: rgba(10, 14, 30, 0) url("img/ellipse.png") 0% 0%/ 100% no-repeat;
    width: 100%;
    height:650px;
    left: -550px;
    top: 0px;
    position: absolute;
    z-index: -2;
    
}
header::before {
    content: "";
    background: rgba(10, 14, 30, 0) url("img/bg-lines.png") 0% 42%/ 100% repeat fixed;
        position: absolute;
        width: 100%;
        height: 810px;
        left: -1px;
        top: -162px;
        mix-blend-mode: overlay;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        
}

.header-logo{
    position:static;
    top: 22px;
    width: 1366px;
    text-align: center;
}
.header-navbar{
    width: 816px;
    height: 58px; 
    position: fixed;
    top: 22px;
    box-sizing: border-box;
    margin-left: 300px;
    z-index: 3;
}

.header-navbar li{
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle; 
    margin-right: 40px;
}
.nav-link{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    position: relative;
}
.header-navbar li a::after {
    position: absolute;
    bottom: -10px;
    content: "";
    right: 0;
    width: 0;
    height: 5px;
    background: linear-gradient(90deg, #9396FA 3.68%, rgba(147, 150, 250, 0) 100%);
    transition: width 0.5s ease;
    border-radius: 4px;
    filter: blur(2px); 
}

.header-navbar li a:hover:after {
    width: 100%;
}

.header-subtitle{
    width:611px;
    margin-top: 185px;
    margin-left: 97px;
    
}
.header-subtitle::after{
    content: "";
    position: absolute;
    position: absolute;
    width: 985px;
    height: 391px;
    left: 196px;
    top: 258px;
    background: url("img/ellipse2.png") 0% 0%/ 100% no-repeat;;
    z-index: -1;
}

.header-subtitle h1{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 400;   
}
.header-subtitle h1::after {
    position: relative;
    display: inline-block;
    top:-25px;
    content: "";
    left: 0;
    width:100%;
    height: 4px;
    background: linear-gradient(90deg, #9396FA 3.68%, rgba(147, 150, 250, 0) 100%);
    border-radius: 3px;
    filter: blur(2px);  
}
.text-decoration{
    color:#8B8FFF;
}
.header-subtitle p{
    position: relative;
    top:-10px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    width: 558px; 
}

.header-button{
    cursor: pointer;
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 2px 4px 25px 10px rgba(148, 151, 255, 0);
        box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 2px 4px 25px 10px rgba(148, 151, 255, 0);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 97px;
    margin-top: 33px;
    width: 201px;
    height: 50px;
    text-align: center;
    background: linear-gradient(90deg, #2D7A76 20%, #9497FF 60%, #2D7975 100%);
    position: relative;
    clip-path: polygon(/* верхняя левая */0% 30%,8% 0%, /* верхняя правая */100% 0%,100% 0%,/* нижняя правая */100% 70%,92% 100%, /* нижняя левая */0% 100%,0% 100%);
    background-size: 300% 100%;
    transition: 0.7s;
    z-index: 2;
}

.header-button:hover {
    background-position: 100%;
}
.header-button a{
    color: #ffffff;
    text-decoration: none;
}
.header-scroll{
    position: relative;
    text-align: center;
    top: -50px;
    height: 110px;
        margin-bottom: 0px;
        z-index: 1;
}
.scroll{
    filter: invert(1);
    animation: scroll-down 0.7s ease-in-out infinite alternate both;
}

@keyframes scroll-down {
    0% {
        padding-top: 4%;
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.technology{
height: 1018px;

}
.technology h2{
    margin: 50px auto 0 auto;
    width: 808px;
    height: 86px;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;
   
}
.designing{

}