* {
    padding: 0;
    margin: 0;
}

body {
    background: rgba(0, 0, 0, 0.9);
    font-family: 'Russo One', sans-serif;
    color: #ffffff;
}

body._lock {
    overflow: hidden;
}

canvas {
    position:absolute;
    left: 0;
    top: 0%;
    z-index: -3;
    z-index: -2;
}

.wrapper {
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}

header {
    background: url("img/ellipse2.png") 0% 30%/ 150% no-repeat,
        url("img/bg-lines.png") 0% 42%/ 100% no-repeat,
        url("img/ellipse.png") 0% 10%/ 90% no-repeat;
    height: 470px;
    padding-bottom: 13%;
}

.top-logo {
    text-align: center;
    position: relative;
    top: 3%;
    right: 2%;
}

.header-navbar {
    position: relative;
    text-align: center;
    width:80%;
    box-sizing: border-box;
    margin: 0% auto 9% auto;
    z-index: 3; 
    top: -5%;
}

#nav-technology,
#nav-cases,
#nav-approach,
#nav-team {
    position: absolute;
    margin: 0% 3% 0% 3%;
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    position: relative;
}

#nav-technology {
    margin-left: 8%;
}

#nav-cases {
    margin-right: 7%;
}

#nav-approach {
    margin-left: 10%;
}


#nav-technology::after,
#nav-cases::after,
#nav-approach::after,
#nav-team::after {
    position: absolute;
    bottom: -10px;
    content: "";
    right: 0;
    width: 0;
    height: 5px;
    background: linear-gradient(90deg, #9396FA 3.68%, rgba(147, 150, 250, 0) 100%);
    transition: width 0.5s ease;
    border-radius: 4px;
    filter: blur(2px);
}

#nav-technology:hover:after,
#nav-cases:hover:after,
#nav-approach:hover:after,
#nav-team:hover:after {
    width: 100%;
}

.header-introduction {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.introduction-text {
    width: 55%;
}

.introduction-cube {
    width: 45%;
    position: relative;
}

.main-cube {
    top:-7%;
    width: 100%;
    position: absolute;
    left: 1%;
}

.cube-top-left {
    width: 10%;
    position: absolute;
    top: -7%;
    left: 16.9%;
    animation: move-cube 1.4s ease infinite alternate both;

}

.cube-top-right {
    width: 10%;
    position: absolute;
    top: 11%;
    left: 78.6%;
    animation: move-cube 1.5s ease infinite alternate both;
}

.cube-middle-left {
    width: 10%;
    position: absolute;
    top: 41%;
    left: 2.8%;
    animation: move-cube 1.5s ease infinite alternate both;
}

.cube-middle-right {
    width: 10%;
    position: absolute;
    top: 66%;
    left: 80.5%;
    animation: move-cube 1.4s ease infinite alternate both;
}

.cube-bottom {
    width: 10%;
    position: absolute;
    top: 82%;
    left: 41.6%;
    animation: move-cube 1.5s ease infinite alternate both;
}

@keyframes move-cube {
    0% {
        padding-top: 3%;

    }

    100% {}
}


.header-subtitle {
    width: 611px;
    margin-left:13%;
}

.header-subtitle h1 {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 400;
}
.header-subtitle h1 br,.header-subtitle p br{
    display:none;
}
.header-subtitle h1::after {
    position: relative;
    display: inline-block;
    top: -25px;
    content: "";
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, #9396FA 3.68%, rgba(147, 150, 250, 0) 100%);
    border-radius: 3px;
    filter: blur(2px);
}

.text-decoration {
    color: #8B8FFF;
}

.header-subtitle p {
    position: relative;
    top: -10px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    width: 558px;
}

.header-button,
.form-button,
.top-form-button {
    margin-left: 97px;
    margin-top: 33px;
    cursor: pointer;
    background: linear-gradient(92.64deg, #2D7A76 -0.55%, #9497FF 42.3%, #2D7975 79.33%),
        linear-gradient(138.51deg, #9497FF 20.9%, #2D7975 76.53%);
    border: 2px solid;
    border-image: linear-gradient(92.64deg, #2D7A76 -0.55%, #9497FF 42.3%, #2D7975 79.33%) 1 1 100%;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 201px;
    height: 50px;
    position: relative;
    clip-path: polygon(
            /* верхняя левая */
            0% 30%, 8% 0%,
            /* верхняя правая */
            100% 0%, 100% 0%,
            /* нижняя правая */
            100% 70%, 92% 100%,
            /* нижняя левая */
            0% 100%, 0% 100%);
    background-size: 300% 100%;
    transition: 0.7s;
    z-index: 2;
}

.header-button:hover,
.form-button:hover,
.top-form-button:hover {
    background-position: 100%;
}

.form-button{
    margin:0 auto;
}

.top-form-button{
    margin:0 0 10px 0;
}


.header-button a, .form-button, .top-form-button {
color: #ffffff;
    text-decoration: none;
}

.header-scroll {
    position: relative;
    text-align: center;
    top: -50px;
    height: 110px;
    z-index: 1;
}

.scroll {
    filter: invert(1);
    animation: scroll-down 1s ease infinite alternate both;
}

@keyframes scroll-down {
    0% {
        padding-top: 1.5%;
        opacity: 1;
    }

    100% {
        opacity: 0.1;
    }
}

.technology {
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.0882) 0%, rgba(217, 217, 217, 0.3444) 59.38%, rgba(217, 217, 217, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: url("img/bg-technology.png") 0% 100%/ 100% no-repeat, url("img/ellipse3.png") 0% 80%/ 120% no-repeat;
}

.rectangel {
    margin: 0 auto 19px auto;
    width: 85px;
    height: 20px;
    background-color: #020202;
    border-radius: 0px 00px 8px 8px;
}

.technology h2 {
    letter-spacing: 1.5px;
    padding-top: 50px;
    margin: 0px auto 57px auto;
    width: 808px;
    height: 86px;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;
}

.technology h3 {
    margin-left: 28px;
    margin-bottom: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    position: relative;
    top: -110px;
}

.potential {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.potential-img {
    position: relative;
    left: 70%;
    top: -80px;
}

.designing {
    cursor: pointer;
    width: 280px;
    height: 270px;
    box-shadow: 3px 4px 23px 12px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-right: 19px;
    background: url("img/technology/ellipse-left.png") bottom right/100% no-repeat,
        url("img/technology/ellipse-right.png") top right no-repeat #1C1C1C;
    transition: 0.5s;
}

.designing:hover,
.using-platforms:hover,
.development:hover,
.use-of-methodologies:hover {
    transform: scale(1.1);
}

.using-platforms {
    cursor: pointer;
    width: 280px;
    height: 350px;
    box-shadow: 3px 4px 23px 12px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-right: 19px;
    background: url("img/technology/ellipse-left.png") bottom right/100% no-repeat,
        url("img/technology/ellipse-right.png") top right no-repeat #1C1C1C;
    transition: 0.5s;
}

.development {
    cursor: pointer;
    width: 280px;
    height: 270px;
    background: url("img/technology/ellipse-left.png") bottom right/100% no-repeat,
        url("img/technology/ellipse-right.png") top right no-repeat #1C1C1C;
    transition: 0.5s;
    box-shadow: 3px 4px 23px 12px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-right: 19px;
}

.use-of-methodologies {
    cursor: pointer;
    width: 280px;
    height: 270px;
    box-shadow: 3px 4px 23px 12px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background: url("img/technology/ellipse-left.png") bottom right/100% no-repeat,
        url("img/technology/ellipse-right.png") top right no-repeat #1C1C1C;
    transition: 0.5s;
}
.designing p, .using-platforms p, .development p, .use-of-methodologies p{
    margin-left: 28px;
    margin-right: 28px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #C8C8C8;
    position: relative;
    top: -110px;
}

.expertize {
    margin-top: 70px;
}
.expertize h2{
    margin-bottom: -10px;
    letter-spacing: 1.5px;
}
.expertise-list {
    background:rgba(28, 28, 28, 0.4);
    display:flex;
    justify-content: center;
    width: 82%;
    margin: 0 auto;
    border: 2px solid;
    border-image: linear-gradient(45deg, rgba(148, 151, 255, 0) 1.73%, #9497FF 53.89%, rgba(148, 151, 255, 0) 98.96%) 1 1 100%;
}
.left-expertise-list {
    margin-right: 170px;
    margin-left: 99px;
    margin-top: 28px;
    padding-left: 36px;
    padding-bottom: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    background: url("img/technology/left-expertise.png") 0% 21%/ 7% no-repeat
}
.right-expertise-list {
    margin-right: 50px;
    margin-top: 28px;
    padding-left: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    background: url("img/technology/right-expertise.png") 0% 21%/ 7% no-repeat
}
.invite-text {
    padding-bottom: 40px;
    text-align: center;
    width: 682px;
    margin: 20px auto 0 auto;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.cases{
   margin-top: 50px; 
}

.cases-wrapper{
background: url("img/bg-lines-cases.png") 0% 8%/ 100% 100% no-repeat;
}

.cases h2 {
    letter-spacing: 1.5px;
    text-align: center;
    padding-bottom: 43px;
    font-size: 30px;
    line-height: 43px;
    font-weight: 400;
}

.cases h3{
    font-family: 'Inter', sans-serif;
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
}
.cases p {
    color: rgba(200, 200, 200, 1);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 17px;
}

.cases-button-left,
.cases-button-right {
    cursor: pointer;
    background: linear-gradient(92.64deg, #2D7A76 -0.55%, #9497FF 42.3%, #2D7975 79.33%),
        linear-gradient(138.51deg, #9497FF 20.9%, #2D7975 76.53%);
    border: 2px solid;
    border-image: linear-gradient(92.64deg, #2D7A76 -0.55%, #9497FF 42.3%, #2D7975 79.33%) 1 1 100%;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 201px;
    height: 50px;
    text-align: center;
    position: relative;
    clip-path: polygon(
            /* верхняя левая */
            0% 30%, 8% 0%,
            /* верхняя правая */
            100% 0%, 100% 0%,
            /* нижняя правая */
            100% 70%, 92% 100%,
            /* нижняя левая */
            0% 100%, 0% 100%);
    background-size: 300% 100%;
    transition: 0.7s;
    z-index: 2;
}

.cases-button-left a,
.cases-button-right a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.cases-button-left:hover,.cases-button-right:hover  {
    background-position: 100%;
}

.financial-analytics,
.cryptocurrency-exchange,
.crypto-betting {
    background: rgba(45, 121, 117, 0.8);
  padding-bottom: 3%;
}

.crm,
.business-card {
    background: rgba(28, 28, 28, 0.9);
    padding-bottom: 3%;
}

.financial-analytics-img,
.crm-img,
.cryptocurrency-exchange-img,
.business-card-img,
.crypto-betting-img {
    margin-top: 50px;
    width: 507px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 7px 9px 7px 0px rgba(0, 0, 0, 0.25);
}
.financial-analytics-img,
.cryptocurrency-exchange-img,
.crypto-betting-img {
    margin-left: 40px;
}
    
.crm-img,
.business-card-img{
    margin-right: 70px;
}

.financial-analytics-img{
    background: url("img/cases/financial-analytics-img.png") 0% 0%/ 100% no-repeat;
}

.crm-img{
background: url("img/cases/crm-img.png") 0% 0%/ 100% no-repeat;
}

.cryptocurrency-exchange-img{
background: url("img/cases/cryptocurrency-exchange-img.png") 0% 0%/ 100% no-repeat;
}

.business-card-img{
background: url("img/cases/business-card-img.png") 0% 0%/ 100% no-repeat;
}

.crypto-betting-img{
background: url("img/cases/crypto-betting-img.png") 0% 0%/ 100% no-repeat;
}

.financial-analytics-text,
.cryptocurrency-exchange-text,
.crypto-betting-text{
    margin-left: 120px;
width: 470px;
}
.crm-text,
.business-card-text{
    margin-left:40px;
    margin-right: 57px;
    width: 470px;
}
.financial-analytics-text{
    margin-top: 85px;
}
.crm-text{
    margin-top: 70px;
}
.cryptocurrency-exchange-text{
    margin-top: 47px;
}
.business-card-text{
    margin-top: 70px;
}
.crypto-betting-text{
    margin-top: 35px;
}
.financial-analytics-text h3,
.crm-text h3,
.cryptocurrency-exchange-text h3,
.business-card-text h3,
.crypto-betting-text h3{
margin-bottom: 17px;
}

.financial-analytics,
.crm,
.cryptocurrency-exchange,
.business-card,
.crypto-betting {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.approach {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.architecture, .design, .audit,.optimization {
    cursor: pointer;
    width: 285px;
    height: 230px;
    background: url("img/technology/ellipse-left.png") bottom right/100% no-repeat,
        url("img/technology/ellipse-right.png") top right no-repeat #1C1C1C;
    transition: 0.5s;
    box-shadow: 3px 4px 23px 12px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-right: 10px;
}
.architecture{
    margin-left: 15px;
}

.architecture:hover,
.design:hover,
.audit:hover,
.optimization:hover{
    transform: scale(1.05);
}
.approach-img {
    position: relative;
    left: 67%;
    top: -70px;
}
.architecture p,
.design p,
.audit p,
.optimization p {
    margin-left: 28px;
    margin-right: 28px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #C8C8C8;
    position: relative;
    top: -110px;
}
.approach h3 {
    margin-left: 28px;
    margin-right: 28px;
    width: 50%;
    margin-bottom: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    position: relative;
    top: -110px;
}
.develop-approach h2{
    letter-spacing:1.5px;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 50px;
    font-size: 30px;
        line-height: 43px;
}

.about-us h2{
    margin-top:100px;
    letter-spacing: 1.5px;
        text-align: center;
        padding-bottom: 43px;
        font-size: 30px;
        line-height: 43px;
        font-weight: 400;
}
.slider {
    margin: 0 auto; 
     overflow: hidden;
    max-width: 85%;
}

.slider-line {
    display: flex;
    flex-wrap: nowrap;
    transition: all ease 1s;
    overflow: hidden;
}

.border{
    margin:0 30px;
    box-sizing: content-box;
   width: 294px;
        height: 306px;  
background: url("img/about-us/border.png") 0% 8%/ 100% 100% no-repeat;
}
.archi-develop {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 58px;
    height: 224px;
    width: 243px;
    border-radius: 0px;
}
.archi-develop h3{
    font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size:24px;
        line-height: 32px;
        margin-bottom:15px;
}
.archi-develop p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #C8C8C8;
    margin-bottom: 90px;
}

.button-slider-prev,
.button-slider-next {
    border: none;
    cursor: pointer;
    position: relative;
    width: 23px;
    height: 30px;
    background-position: 100%;
    background-size: 300% 100%;
    background-color: transparent;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    transition: 0.8s;
}

.button-slider-next {
    left: 92%;
    bottom:180px;
    background: url("img/about-us/arrow-right.png") 0% 0%/100% no-repeat;
}

.button-slider-prev {
    left: 4%;
    bottom: 180px;
    background: url("img/about-us/arrow-left.png") 0% 0%/100% no-repeat;
}

.button-slider-next:hover,
.button-slider-prev:hover {
    cursor: pointer;
-webkit-animation: shake-right 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-right 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
@-webkit-keyframes shake-right {

    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }

    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }

    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }

    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}

@keyframes shake-right {

    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }

    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }

    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }

    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}

.read{
    text-decoration: none;
    color: #ffffff;
}
.need-team{
    background:url("img/teem/ellipse4.png") 0% 28%/28% no-repeat;
 
}

.need-team h2{
    margin-top: 60px;
    letter-spacing: 1.5px;
        text-align: center;      
        font-size: 30px;
        line-height: 43px;
        font-weight: 400;
}
.discuss{
    text-align: center;
    font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
}

.content-need-team{
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
       
}

.light-ellipse {
    position: relative;
    background:
    url("img/teem/animation.png") 50% 75%/70% no-repeat,url("img/teem/light.png") 47% 10%/60% no-repeat;
    min-width: 43%;
    padding-bottom: 60px;
}
.learn{
    position:absolute;
    top: 27%;
    left: 18%;
    font-size: 24px;
    line-height: 29px;
}
.consultation {
    text-align: center;
    width: 80%;
    position: absolute;
    top: 37%;
    left: 12%;
    font-size: 36px;
    line-height: 43px;
}

.container-name-email,
.container-phone-company {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* width: 100%; */
    margin:0;
    padding:0;
}

.top-form-wrapper {
    z-index: -5;
    opacity: 0;
}

.top-form-wrapper._activ {
    opacity: 1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.9);
    z-index: 7;
    -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.top-form-body {
    margin:0 auto;
    height: 95%;
    width: 96%;
    text-align: left;
}

.top-form {
    text-align: center;
    padding: 20px;
    border-radius: 40px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0 auto;
    width: 50%;
    background: #1C1C1C url("img/top-form/top-form-ellipse.png") 0 0/ 105% no-repeat;
}

.top-form *,
.form * {
    outline: none;
}

.form-input:focus,
.form-input-textarea:focus {
    box-shadow: 0px 0px 15px #9396FA;
}

.top-form h2 {
    margin-left: 1.5%;
    margin-bottom: 30px;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 40px;
    line-height: 45px;
}

.top-form h2:after {
    width: 45%;
    position: relative;
    display: inline-block;
    top: 15px;
    content: "";
    left: -290px;
    height: 4px;
    background: linear-gradient(90deg, #9396FA 3.68%, rgba(147, 150, 250, 0) 100%);
    border-radius: 3px;
    filter: blur(2px);
}

.top-file-item {
    position: relative;
    top: -120px;
    left: 90%;
    width: 5%;
    transform: rotate(-54deg)
}

.close-icon {
    cursor: pointer;
    display: block;
    width: 35px;
    height: 30px;
    position: fixed;
    top: 20px;
    right: 4%;
    z-index: 8;
}

.close-icon span,
.close-icon::before,
.close-icon::after {
    position: absolute;
    background-image: linear-gradient(to right, rgb(139, 143, 255) 50%, rgb(255, 255, 255) 50%);
    background-size: 200% 100%;
    background-position: 100%;
    width: 70%;
    height: 5%;
    left: 0;
    transition: all 0.5s;
    margin-left: 7px;
}

.close-icon::before,
.close-icon::after {
    content: "";
}

.close-icon::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
}

.close-icon::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
}

.close-icon span {
    top: 50%;
    transform: scale(0) translate(0px, -50%);
}

.close-icon:hover span,
.close-icon:hover:before,
.close-icon:hover:after {
    background-position: 0%;
    color: rgb(255, 255, 255);
}


.form {
    width: 50%;
    margin-right: 20px;
    margin-top: 30px;
}

.form-body{
    width: 99%;
    position: relative;
    overflow: hidden;
    
}

.form-input {
    margin: 0px 0px 15px 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding-left: 25px;
    width: 44%;
    height: 40px;
    background: #1C1C1C;
    border: 2px solid;
    border-image: linear-gradient(92.64deg, #2D7A76 -0.55%, #9497FF 42.3%, #2D7975 79.33%) 1;
    color: #8B8FFF;
}

.form-input-textarea, .top-form-input-textarea {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    background: #1C1C1C;
    border: 2px solid;
    border-image: linear-gradient(92.64deg, #2D7A76 -0.55%, #9497FF 42.3%, #2D7975 79.33%) 1;
    color: #8B8FFF;
    min-width: 100%;
    min-height: 120px;
    resize: vertical;
    padding: 25px;
}

.file-item {
    position: relative;
    top: -145px;
    left: 90%;
    width: 5%;
    transform: rotate(-54deg)
}

.file-input{
    position:absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    opacity: 0;
    font-size: 0;
    cursor: pointer;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: rgb(255, 255, 255);
    
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgb(255, 255, 255);
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgb(255, 255, 255);
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: rgb(255, 255, 255);
}

.protect a, .top-protect a{
color:#ffffff;
}
.protect, .top-protect {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 75%;
    margin-bottom: 30px;
    margin-top: 15px;
}
.top-protect{
    margin-bottom: 0;
    text-align: left;
}
.form-button{
    margin-top: 0;
    margin-right: 2%;
    top: -35px;
}

.telegram-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #1C1C1C;
    clip-path: polygon(
            /* верхняя левая */
            0% 30%, 8% 0%,
            /* верхняя правая */
            100% 0%, 100% 0%,
            /* нижняя правая */
            100% 70%, 92% 100%,
            /* нижняя левая */
            0% 100%, 0% 100%);

}

.telegram { 
    float: right;
    top: -36px;
    cursor: pointer;
    font-family: 'Inter',
        sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    width: 229px;
    height: 48px;
    position: relative;
    z-index: 2;
    border: 1.5px solid;
    border-image: linear-gradient(92.64deg, #2D7A76 -0.55%, #9497FF 42.3%, #2D7975 79.33%) 1;
    background: linear-gradient(92.64deg, #2D7A76 -0.55%, #9497FF 42.3%, #2D7975 79.33%);
    clip-path: polygon(
            /* верхняя левая */
            0% 30%, 8% 0%,
            /* верхняя правая */
            100% 0%, 100% 0%,
            /* нижняя правая */
            100% 70%, 92% 100%,
            /* нижняя левая */
            0% 100%, 0% 100%);
            transition: all ease 0.4s;
}
.telegram:hover {
    background: linear-gradient(92.64deg, #2D7A76 -0.55%, #02ff41 42.3%, #2D7975 79.33%);
    border-image: linear-gradient(92.64deg, #2D7A76 -0.55%, #02ff41 42.3%, #2D7975 79.33%) 1;
}
.telegram a {
    color: #ffffff;
    text-decoration: none;
    transition: all ease 0.4s;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: linear-gradient(92.64deg, #2D7A76 -0.55%, #9497FF 42.3%, #2D7975 79.33%) 1;
    -webkit-text-fill-color: #9497FF;
    box-shadow: 0 0 0px 1000px #1C1C1C inset;
    transition: background-color 5000s ease-in-out 0s;
}

img.top-ligt-ellipse {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer{
    font-family: 'Inter', sans-serif;
        background: url("img/bg-lines.png") 0% 50%/ 100% no-repeat rgba(45, 121, 117, 0.8);
}
.footer-block{
    display: flex;
        align-items: center;
        justify-content: center;
    background:rgba(28, 28, 28, 0.6);
    width:100%;
}
.code {
    color:#ffffff;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
        line-height: 22px;
        width: 33%;
}
.code-decoration{
   color: rgba(148, 151, 255, 1);
}
.footer-nav-bar{
    margin-right: 6%;
    margin-bottom: 27px;
}

.footer-nav-bar li{
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 20px;
}

.footer-nav-bar a{
    text-decoration: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        transition: all ease 0.4s
}
.footer-nav-bar a:hover, .privacy-policy a:hover{
    color:#8B8FFF;
}
.privacy-policy{
    margin-right: 3%;
    text-align: center;
    width: 40%;
}
.privacy-policy li{
    display: inline-block;
        text-align: center;
        list-style-type: none;
}
.privacy-policy li:nth-child(2), .privacy-policy li:nth-child(1){
    margin-right:7%;
}
.privacy-policy a{
font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.5px;
    transition: all ease 0.4s
}
.footer-list{
color: #ffffff;
}

.footer-logo{
    margin-top: 10px;
    margin-bottom: 190px;
    text-align: right;
}

.code-css code .line-1,
.code-css code .line-2,
.code-css code .line-3,
.code-css code .line-4,
.code-css code .line-5,
.code-css code .line-6,
.code-css code .line-7,
.code-css code .line-8,
.code-css code .line-9,
.code-css code .line-10,
.code-css code .line-11,
.code-css code .line-12 {
    width: 0%;
    margin: 0;
    border-right: 0.15em solid transparent;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

.line-1.activ {
    animation: typing-1 1s 0s steps(10, end) forwards, cursor 1s linear 0s 1;
}

.line-2.activ {
    animation: typing-2 1s 1s steps(10, end) forwards, cursor 2s linear 1s 1;
}

.line-3.activ {
    animation: typing-7 2s 3s steps(20, end) forwards, cursor 2s linear 3s 1;
}

.line-4.activ {
    animation: typing-4 1s 5s steps(10, end) forwards, cursor 2s linear 5s 1;
}

.line-5.activ {
    animation: typing-5 1s 6s steps(10, end) forwards, cursor 2s linear 6s 1;
}
.line-6.activ {
    animation: typing-6 2s 7s steps(20, end) forwards, cursor 3s linear 7s 1;
}
.line-7.activ {
    animation: typing-7 2s 9s steps(20, end) forwards, cursor 3s linear 9s 1;
}

.line-8.activ {
    animation: typing-7 2s 11s steps(20, end) forwards, cursor 3s linear 11s 1;
}
.line-9.activ {
    animation: typing-7 2s 13s steps(20, end) forwards, cursor 3s linear 13s 1;
}
.line-10.activ {
    animation: typing-10 1s 15s steps(5, end) forwards, cursor 2s linear 15s 1;
}
.line-11.activ {
    animation: typing-5 1s 17s steps(10, end) forwards, cursor 2s linear 17s 1;
}

.line-12.activ {
    border-color: transparent;
    animation: typing-3 1s 18s steps(10, end) forwards, cursor-persist 1s linear 18s infinite;
}


@keyframes typing-1 {
    from {
        width: 0;
    }

    to {
        width: 65px;
    }
}

@keyframes typing-2 {
    from {
        width: 0;
    }

    to {
        width: 65px;
    }
}

@keyframes typing-3 {
    from {
        width: 0;
    }

    to {
        width: 75px;
    }
}

@keyframes typing-4 {
    from {
        width: 0;
    }

    to {
        width: 75px;
    }
}

@keyframes typing-5 {
    from {
        width: 0;
    }

    to {
        width: 110px;
    }
}

@keyframes typing-6 {
    from {
        width: 0;
    }

    to {
        width: 230px;
    }
}

@keyframes typing-7 {
    from {
        width: 0;
    }

    to {
        width: 260px;
    }
}
@keyframes typing-10 {
    from {
        width: 0;
    }

    to {
        width: 20px;
    }
}

@keyframes cursor {

    from,
    to,
    20%,
    80% {
        border-color: transparent;
    }

    25%,
    75% {
        border-color: white;
    }
}

@keyframes cursor-persist {

    from,
    45% {
        border-color: transparent;
    }

    50%,
    to {
        border-color: white;
    }
}

.arrow {
    cursor: pointer;
    position: fixed;
    right: 5%;
        bottom: 20%;
    transform: translate(-50%, -50%);
    display: none;
}

.arrow-show {
    display: block;
}
.arrow span {
    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 3px solid #8B8FFF;
    border-right: 3px solid #8B8FFF;
    transform: rotate(225deg);
    margin: -11px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(225deg) translate(-10px, -10px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(225deg) translate(20px, 20px);
    }
}

.send-mail-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.9);
    
}
.send-mail-body {
    width: 30%;
    border: 2px solid;
    border-image: linear-gradient(92.64deg, #2D7A76 -0.55%, #9497FF 42.3%, #2D7975 79.33%) 1;
    text-align: center;
    margin: 0 auto;
    text-align: center;
    padding: 50px 40px 50px 40px;
    border-radius: 30px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    background: #1C1C1C url("img/top-form/top-form-ellipse.png") 0 0/ 105% no-repeat;
}



@media screen and (max-width: 1100px) and (min-width: 801px) {
    .header-navbar {
            width: 95%;
        }
.header-subtitle {
    margin-left: 6%;
}
.header-button{
    margin-left: 6%;
}

.img-wrapp {
    position: absolute;
    width: 50%;
    height: 80%;
    overflow: hidden;
    top: 28%;
    left: 50%;
}
.main-cube {
    top: 0;
        width: 140%;
        position: absolute;
        left: 10%;
}
.cube-top-left {
    width: 13%;
    top: 6%;
    left: 33%;
}
.cube-top-right, .cube-middle-right{
    display:none;
}
.cube-middle-left {
    width: 13%;
    top: 57%;
    left: 13%;
}

.cube-bottom {
    width: 13%;
    top: 101%;
    left: 67%;
}
@keyframes move-cube {
    0% {
        padding-top: 5%;

    }

    100% {}
}

.designing,.using-platforms, .development,.use-of-methodologies{
    margin-left:3%;
margin-right: 3%;
width: 290px;
    height: 280px;
}
.using-platforms{
    width: 290px;
        height: 360px;
        margin-bottom:3%;
}
.left-expertise-list, .right-expertise-list{
    margin: 20px auto 0 auto;
        width: 320px;
        line-height: 39px;
}

.financial-analytics-img,
.crm-img,
.cryptocurrency-exchange-img,
.business-card-img,
.crypto-betting-img{
width: 380px;
    height: 225px;
}
.crm-img,
.business-card-img {
    margin-right: 50px;
}

.financial-analytics-text,
.cryptocurrency-exchange-text,
.crypto-betting-text {
    margin-left: 70px;
}

.crm-text,
.business-card-text {
    margin-left: 60px;
    margin-right: 40px;
}
.financial-analytics-text,.crm-text,.business-card-text {
    margin-top: 38px;
}
.cryptocurrency-exchange-text {
    margin-top: 35px;
}
.crypto-betting-text{
    margin-top: 25px;
}
.approach{
    margin:0 auto;
    width:90%;
}
.architecture,
.design,
.audit,
.optimization{
    width: 295px;
        height: 240px;
        margin: 20px;
}
.light-ellipse {
    background:
        url("img/teem/animation.png") 50% 75%/85% no-repeat, url("img/teem/light.png") 47% 10%/60% no-repeat;
}
.learn {
    left: 9%;
    font-size: 24px;
    width: 100%;
}
.consultation {
    width: 90%;
    left: 6%;
}
.form-input{
    width: 40%;
}
.form-button {
    margin-top: 0;
    margin-right: 2%;
    top: -35px;
}
.code {
    margin-right: 2%;
    font-size: 16px;
    line-height: 20px;
}
.footer-nav-bar {
    margin-right: 3%;
}
.privacy-policy {
    margin-right: 2%;
    width: 44%;
}
.privacy-policy li:nth-child(2),
.privacy-policy li:nth-child(1) {
    margin-right: 3%;
}
 .privacy-policy a {
     font-size: 16px;
}
.top-form {
    left: 0%;
    margin: 0 auto;
    width: 62%;
    background: #1C1C1C url("img/top-form/top-form-ellipse.png") 0 0/ 105% no-repeat;
}
}

@media screen and (max-width: 800px) and (min-width: 601px) {
    
    header{
        padding-bottom: 0%;
        height: 400px;
    }
    .header-navbar {
        width: 100%;
        margin: 0% auto 4% auto;
    }
        #nav-technology,
        #nav-cases,
        #nav-approach,
        #nav-team{
            font-size: 16px;
            margin: 0% 2% 0% 2%;
        }
        #nav-technology {
            margin-left: 10%;
        }
    
        #nav-cases {
            margin-right: 7%;
        }
    
        #nav-approach {
            margin-left: 5%;
        }
                #nav-team{
                margin-right: 1%;
                }
.top-logo {
    right: 1%;
}

.introduction-text{
    margin-left: 2%;
}
 .main-cube {
     top: 0;
     width: 100%;
     left: 0%;
 }

.cube-top-left {
    width: 9%;
    top: 5%;
    left: 16.6%;
}

.cube-top-right {
    width: 9%;
    top: 16%;
    left: 78%;
}

.cube-middle-left {
    width: 9%;
    top: 39%;
    left: 2.5%;
}

.cube-middle-right {
    width: 9%;
    top: 60%;
    left: 80%;
}

.cube-bottom {
    width: 9%;
    top: 73%;
    left: 41%;
}

.header-scroll {
    height: 0px;
}
.header-subtitle {
    width: 400px;
    margin-left: 3%;
}
.header-subtitle h1 {
    font-size: 24px;
}
.header-subtitle h1::after{
    top: -17px;
}

.header-subtitle p{
font-size: 16px;
line-height: 16px;
width: 330px;
top: -15px;
}

.header-button,
.form-button,
.top-form-button, .cases-button-left,
.cases-button-right{
    font-size: 16px;
    width: 160px;
        height: 40px;
}

.protect,
.top-protect{
    width: 95%;
}
.telegram{
    font-size: 16px;
    width: 200px;
        height: 40px;
}

.header-button{
    margin-top: 0px;
    margin-left: 3%;
}
.designing,
.using-platforms,
.development,
.use-of-methodologies {
    margin-left: 3%;
    margin-right: 3%;
    width: 270px;
    height: 260px;
}

.using-platforms {
    width: 270px;
    height: 320px;
    margin-bottom: 5%;
}
.designing p,
.using-platforms p,
.development p,
.use-of-methodologies p {
    font-size: 14px;
    line-height: 18px;
}
.technology img{
    width:90px;
    height: 90px;
}
.technology h2{
    width: 80%;
    font-size: 26px;
}
.expertize {
    margin-top: 20px;
}

.left-expertise-list,
.right-expertise-list {
    margin: 15px auto 0% auto;
    width: 320px;
    font-size: 16px;
    line-height: 32px;
}

.invite-text{
font-size: 16px;
width: 80%;
}
.left-expertise-list,.right-expertise-list{
    margin-left: 3%;
}
.expertise-list p {
    padding-top: 5px;
    
}

.cases p {
    font-size: 14px;
    line-height: 20px;
}

.financial-analytics-img,
.crm-img,
.cryptocurrency-exchange-img,
.business-card-img,
.crypto-betting-img {
    width: 320px;
    height: 190px;
    margin-top: 70px;
    margin-left: 0;
}

.crm-img,
.business-card-img {
    margin-right: 1%;
    
}

.financial-analytics-img,
.cryptocurrency-exchange-img,
.crypto-betting-img{
    margin-right: 2%;
    margin-left: 2%;
}

.financial-analytics-text,
.cryptocurrency-exchange-text,
.crypto-betting-text {
    margin-left: 10px;
    width: 330px;
    margin-top: 38px;
    font-size: 16px;
}

.crm-text,
.business-card-text {
margin-left: 2%;
    margin-right: 2%;
    width: 330px;
    margin-top: 38px;
    
}

.cryptocurrency-exchange-text {
    margin-top: 35px;
}

.crypto-betting-text {
    margin-top: 25px;
}
.approach {
    margin: 0 auto;
    width: 90%;
}

.architecture,
.design,
.audit,
.optimization {
    width: 275px;
    height: 240px;
    margin: 10px;
}

.need-team {
    background: url("img/teem/ellipse4.png") 0% 90%/50% no-repeat;

}
.discuss{
    margin-bottom: 25px;
}
.light-ellipse {
    order:1;
    background:
        url("img/teem/animation.png") 50% -40%/70% no-repeat, url("img/teem/light.png") 47% 4%/60% no-repeat;
padding-bottom: 20px;
    }
.top-ligt-ellipse{
    width:80%;
}
.learn {
    top: 28%;
    left: 11%;
    font-size: 18px;
    line-height: 22px;
    width: 100%;
}

.consultation {
    top: 35%;
    font-size: 28px;
    line-height: 33px;
    width: 90%;
    left: 6%;
}

.form{
    order:2;
    width:70%
}
.form-input {
    width: 40%;

}

.form-button {
    margin-top: 0;
    margin-right: 2%;
    top: -35px;
}

.code {
    font-size: 16px;
    line-height: 18px;
    margin-left: 0px;
        margin-right: 5px;
        margin-bottom: 0;
}

 .footer-nav-bar,
 .privacy-policy {
     display: flex;
     align-items: center;
     justify-content: center;
    margin-right: 1%;
 }
 .privacy-policy{
    width: 30%;
}

 .privacy-policy a{
    font-size: 14px;
 }

  .privacy-policy li {
      margin-bottom: 10px;
      display: block;
      text-align: left;
  }

  .privacy-policy li:nth-child(2),
  .privacy-policy li:nth-child(1) {
      margin-right: 0%;
  }

 .footer-nav-bar {
     margin: 0px 3% 27px auto;
 }
  .footer-nav-bar a {
      font-size: 16px;
      line-height: 18px;
  }
  .footer-nav-bar li{
    margin-top: 25px;
  }

 .footer-logo {
     order: 2;
     margin: 0;
     position: relative;
     left: 7%;
     bottom:110px;
 }
  .logo {
      width: 50px;
      height: 45px;
  }

 .privacy-policy ul {
     order: 1;
 }
.top-form {
    padding-top: 10px;
    border-radius: 30px;
    height:250px;
    left: 0%;
    margin: 0 auto;
    width: 58%;
    background: #1C1C1C url("img/top-form/top-form-ellipse.png") 0 0/ 105% no-repeat;
}
.top-form h2{
font-size: 20px;
line-height: 20px;
margin-bottom: 15px;
}
.top-form h2:after{
    left: -145px;
     top: 10px;  
}
.top-form-input-textarea{
    min-height: 30px;
    padding: 10px;
    font-size: 14px;
}
#top-form-name,#top-form-email, #top-form-phone, #top-form-company{
    height: 20px;
    margin: 0px 0px 5px 0px;
    padding-left: 15px;
    width: 43%;
    font-size: 14px;
}
 .top-file-item {
     top: -80px;
     left: 89%;
 }
.top-file-item img {
width: 30px;
}
 .top-protect{
    font-size: 12px;
        line-height: 14px;
        width: 85%;
        margin-bottom: 0px;
        margin-top: 0px;
 }
 .top-form-button{
    top:-28px;
    
 }

 .close-icon {
     width: 30px;
     height: 25px;
     position: fixed;
     top: 10px;
     right: 4%;
     z-index: 8;
 }

.arrow span{
    width: 20px;
        height: 20px;
}

}

@media screen and (max-width: 600px) {
    body._lock {
        overflow: hidden;
    }

    header {
        background: url("img/ellipse2.png") 100% 100%/ 150% no-repeat,
            url("img/bg-lines.png") 60% 42%/ 200% no-repeat,
            url("img/img-mobile/ellipse-top.png") 0% 0%/ 100% no-repeat;
        padding-bottom: 70%;
    }

    /* canvas{
    display:none;
} */

    .top-logo {
        position: inherit;
        text-align: left;
        padding: 4% 0% 4% 6%;
    }

    .logo {
        width: 53px;
        height: 48px;
    }

    .header-navbar {
        text-align: center;
        font-size: 1.1rem;
        padding: 5px 0px 0px 0px;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(28, 28, 28, 0.98) url("img/img-mobile/ellipse-top-burger.png") 0% 20%/ 150% no-repeat;
        z-index: 4;
        overflow: auto;
        right: -100%;
        transition: all 1s ease 0s;
    }

    .header-navbar._activ {
        right: 0;
    }

    #nav-technology,
    #nav-cases,
    #nav-approach,
    #nav-team {
        display: table;
        margin: 8% auto;
        font-size: 24px;
        top: 50px;
        padding-top: 20px;
        text-transform: uppercase;
    }

    .menu-icon {
        cursor: pointer;
        display: block;
        width: 45px;
        height: 38px;
        position: fixed;
        top: 25px;
        right: 2%;
        z-index: 6;
        background-color: rgba(0, 0, 0, 0);
    }

    .menu-icon span,
    .menu-icon::before,
    .menu-icon::after {
        position: absolute;
        background-image: linear-gradient(to right, #9497FF 50%, rgb(255, 255, 255) 50%);
        background-size: 200% 100%;
        background-position: 100%;
        width: 70%;
        height: 5%;
        left: 0;
        transition: all 0.5s;
        margin-left: 7px;
    }

    .menu-icon::before,
    .menu-icon::after {
        content: "";
    }

    .menu-icon::before {
        top: 25%;
        transition: all 0.3s;
    }

    .menu-icon::after {
        bottom: 25%;
        transition: all 0.7s;
    }

    .menu-icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu-icon:hover span,
    .menu-icon:hover:before,
    .menu-icon:hover:after {
        background-position: 0%;
        color: rgb(255, 255, 255);
    }

    .menu-icon._activ span {
        transform: scale(0);
    }

    .menu-icon._activ::before {
        transition: all 0.5s;
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu-icon._activ::after {
        transition: all 0.5s;
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .header-navbar.transparent {
        background: linear-gradient(to right, #222 100%, rgb(155, 211, 217) 0%);
    }


    .header-subtitle {
        width: 79%;

        margin-left: 6%;
    }

    .header-subtitle h1 {
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 400;
    }

    .header-subtitle h1::after {
        width: 70%;
    }

    .header-subtitle h1 br,
    .header-subtitle p br {
        display: initial;
    }

    .header-subtitle p {
        font-size: 16px;
        line-height: 19px;
    }

    .header-button {
        margin-top: 10px;
        margin-left: 6%;

    }

    .header-button,
    .form-button,
    .top-form-button {
        width: 180px;
        height: 45px;
    }

    .header-scroll {
        display: none;
    }
.header-introduction{
    flex-wrap: wrap;
}
        .introduction-text {
            width: 100%;
        }

        .introduction-cube {
        position: relative;
        width: 70%;
        height: 300px;
        overflow: hidden;
        top: 0%;
        left: 15%;
    }

    .main-cube {
        top: 0;
        width: 150%;
        position: absolute;
        left: 10%;
    }

    .cube-top-left {
        width: 13%;
        top: 6%;
        left: 35%;
    }

    .cube-middle-left {
        width: 13%;
        top: 37%;
        left: 14%;
    }

    .cube-bottom {
        width: 14%;
        top: 66%;
        left: 71.3%;
    }

    .cube-top-right,
    .cube-middle-right {
        display: none;
    }

    .technology {
        background: url("img/bg-technology.png") 0% 100%/ 150% no-repeat, url("img/ellipse3.png") 0% 80%/ 120% no-repeat;
    }

    .technology h2 br {
        display: none;
    }

    .technology h2 {
        width: 330px;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 20px;
    }

    .designing,
    .using-platforms,
    .development {
        margin: 20px auto;
    }

    .use-of-methodologies {
        margin: 20px auto 0px auto;
    }

    .expertize {
        margin-top: 30px;
    }

    .expertise-list {
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .expertise-list p {
        margin-left: 10px;
    }

    .left-expertise-list {

        margin: 0 auto;
        width: 270px;
        font-size: 16px;
        line-height: 30px;
        background: url("img/technology/left-expertise.png") 5% 21%/ 6% no-repeat
    }

    .right-expertise-list {
        margin: 0 auto;
        width: 270px;
        font-size: 16px;
        line-height: 30px;
        background: url("img/technology/right-expertise.png") 5% 21%/ 6% no-repeat
    }

    .invite-text {
        font-size: 16px;
        line-height: 19px;
        width: 360px;
        padding-bottom: 30px;
    }

    .cases {
        margin-top: 40px;
    }

    .cases-wrapper {
        background: url("img/bg-lines-cases.png") 0% 8%/ 170% 100% no-repeat;
    }

    .cases h2 {
        font-size: 26px;
        line-height: 29px;
    }

    .financial-analytics-img,
    .crm-img,
    .cryptocurrency-exchange-img,
    .business-card-img,
    .crypto-betting-img {
        margin: 30px auto;
        width: 345px;
        height: 200px;
    }

    .crm-text,
    .business-card-text {
        order: 2;
    }

    .crm-img,
    .business-card-img {
        order: 1;
    }

    .financial-analytics-text,
    .crm-text,
    .cryptocurrency-exchange-text,
    .business-card-text,
    .crypto-betting-text {
        margin: 0 auto;
        width: 345px;
    }

    .cases-button-left,
    .cases-button-right {
        width: 180px;
        height: 45px;
        margin-bottom: 25px;
    }

    .develop-approach h2 {
        padding-top: 70px;
        padding-bottom: 35px;
        font-size: 24px;
        line-height: 29px;
    }

    .architecture,
    .design,
    .audit,
    .optimization {
        margin: 18px auto;
    }

    .about-us h2 {
        margin-top: 70px;
        font-size: 24px;
        line-height: 29px;
    }

    .border {
        width: 250px;
        height: 290px;
        margin-right: 1%;
        margin-left: 1%;
    }

    .archi-develop {
        margin-left: 20px;
        margin-right: 15px;
        margin-top: 15px;
        margin-bottom: 50px;
        height: 204px;
        width: 230px;
    }

    .archi-develop p {
        margin-bottom: 30px;
    }

    .button-slider-next {
        left: 83%;
    }

    .need-team h2 {
        margin-top: 40px;
        font-size: 24px;
        line-height: 29px;
    }

    .discuss {
        margin-bottom: 25px;
    }

    .learn {
        left: 6%;
        top: 25%;
        font-size: 20px;
        line-height: 24px;
    }

    .consultation {
        width: 100%;
        left: 0%;
        top: 32%;
        font-size: 32px;
        line-height: 38px;
    }

        .form {
            order: 2;
            width: 100%;
            margin: 7px auto;
        }
    
        .form-body {
            margin: 0 auto;
            width: 90%;
            box-sizing: border-box;
        }
    
        .top-form-body {
            height: 100%;
    
        }
    
        .top-form {
            border-radius: 0;
            width: 100%;
            height: 100%;
            top: 0;
            transform: translate(0, 0);
            padding: 0;
            background: #1C1C1C url("img/img-mobile/ellipse-top.png") 0 0/ 100% no-repeat;   
        }

    .need-team {
        background: none;

    }

    .light-ellipse {
        order: 1;
        background:
            url("img/teem/animation.png") 50% 120%/100% no-repeat, url("img/teem/light.png") 47% 10%/90% no-repeat;

    }


    .close-icon {
        z-index: 999;
    }

    .top-form h2 {
        width: 100%;
        padding-top: 25px;
        padding-bottom: 30px;
        margin-left: 15px;
        font-size: 26px;
        line-height: 18px;
        margin-bottom: 0px
    }

    .top-form h2:after {
        left: -192px;
    }

    .form-input {
        width: 100%;
    }

    .form-input-textarea {
        width: 86%;
        padding: 10px 0 0 25px;
        min-height: 100px;
    }

    .top-form-input-textarea {
        width: 84%;
        padding: 10px 0 0 25px;
        min-height: 100px;
    }

    .file-item {
        top: -160px;
        left: 88%;
    }

    .top-file-item {
        top: -140px;
        left: 88%;
    }

    .protect {
        width: 308px;
        margin-bottom: 20px;
    }

    .top-protect {
        width: 308px;
    }

    .form-button {
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .top-form-button {
        margin: 0;
    }

    .telegram {
        margin-left: 0px;
        width: 200px;
        height: 45px;
        float: left;
    }

    .footer-block {
        display: block;
    }

    .code {
        margin-left: 0px;
        margin-right: 5px;
        margin-bottom: 0;
        font-size: 17px;
    }

    footer {

        background: url("img/img-mobile/mobile-footer-lines.png") 0% 0%/ 100% no-repeat rgba(45, 121, 117, 0.8);
    }


    .footer-nav-bar,
    .privacy-policy {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-nav-bar {
        margin: 0px auto 27px auto;
    }

    .footer-logo {
        order: 2;
        margin: 0;
        position: relative;
        left: 50%;
    }

    .privacy-policy ul {
        order: 1;

    }

    .privacy-policy {
        width: 60%;
        margin-left: 20px;
        padding-bottom: 40px;
    }

    .privacy-policy li {
        margin-bottom: 15px;
        display: block;
        text-align: left;
    }

    .privacy-policy li:nth-child(2),
    .privacy-policy li:nth-child(1) {
        margin-right: 0%;
    }

    .arrow {
        right: 6%;
    }

    .arrow span {
        width: 20px;
        height: 20px;
    }

}