* {
    padding: 0;
    margin: 0;
}
body {
background: #1C1C1C;;
font-family: 'Russo One', sans-serif;
color: #ffffff;
}
canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
/* .wrapper{
    width:1366px;
    border: 1px solid #fc081c;
    margin: 0 auto;
    box-sizing: border-box;
overflow: hidden;
} */
header{
    background: url("img/bg-cube.png") left 700px top 169px/ 46%  no-repeat;
    border: 1px solid #e8fc08;
}
header::after {
    content: "";
    background: rgba(10, 14, 30, 0) url("img/ellipse.png") 0% 0%/ 100% no-repeat;
    width: 100%;
    height: 100%;
    left: -119px;
    top: 243px;
    position: absolute;
}
header::before {
    content: "";
    background: rgba(10, 14, 30, 0) url("img/bg-lines.png") 0% 42%/ 100% repeat fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.header-logo{
    position:static;
    top: 22px;
    width: 1366px;
    text-align: center;
    border: 1px solid #0be23d;
}
.header-navbar{
width: 816px;
height: 58px; 
position: fixed;
top: 22px;

border: 1px solid #ffffff;
box-sizing: border-box;
margin-left: 300px;
}

.header-navbar li{
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid #0be23d;
    vertical-align: middle; 
    margin-right: 40px;
}
.nav-link{
text-decoration: none;
color: #ffffff;
font-size: 20px;
line-height: 24px;
position: relative;
}
.header-navbar li a::after {
    position: absolute;
    bottom: -10px;
    content: "";
    right: 0;
    width: 0;
    height: 4px;
    background: linear-gradient(90deg, #9396FA 3.68%, rgba(147, 150, 250, 0) 100%);
    transition: width 0.5s ease;
    border-radius: 3px;
filter: blur(1px); 
}

.header-navbar li a:hover:after {
    width: 100%;
}

.header-subtitle{
width:611px;
margin-top: 222px;
margin-left: 97px;
border: 1px solid #e8fc08;
}
.header-subtitle h1{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 400;   
}
.header-subtitle h1::after {
    position: relative;
    display: inline-block;
 top:-25px;
    content: "";
    left: 0;
    width:100%;
    height: 4px;
    background: linear-gradient(90deg, #9396FA 3.68%, rgba(147, 150, 250, 0) 100%);
    border-radius: 3px;
    filter: blur(2px);
    
}
.text-decoration{
    color:#8B8FFF;
}
.header-subtitle p{
    position: relative;
    top:-10px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    width: 558px;
    
}

.header-buttons{
    margin-left: 97px;
    margin-top: 33px;
    width: 201px;
    height: 50px;
    text-align: center;
    background: linear-gradient(90deg, #2D7A76 0%, #9497FF 54%, #2D7975 100%);
    position: relative;
    clip-path: polygon(0% 36%,
                /* верхняя левая */
                13% 0%,
                /* верхняя левая */
                100% 0%,
                /* верхняя правая */
                100% 0%,
                /* верхняя правая */
                100% 65%,
                /* нижняя правая */
                87.5% 100%,
                /* нижняя правая */
                0% 100%,
                /* нижняя левая */
                0% 100%
                /* нижняя левая */
            );
}


/* .header-scroll{
    margin-top: 134px;
    margin-bottom: 46px;
} */
.scroll{
    color: #ffffff;
}

.technology{
    height: 1018px;
}